<div class="container" [formGroup]="surveyForm">

  <div>
      <h1>{{ currentSurvey.name }}</h1>
      <p>問卷說明：</p>
      <p>{{ currentSurvey.description }}</p>
  </div>

  <!-- 填寫者資訊 -->
  <div class="userData" formGroupName="user">
    @for (field of currentSurvey.userData; track field.key) {
    <mat-form-field class="example-full-width">
      <mat-label>{{ field.label }}</mat-label>
      <input matInput [formControlName]="field.key">

      @if (surveyForm.get('user.' + field.key)?.invalid && surveyForm.get('user.' + field.key)?.touched) {
        <mat-error>
          @if (surveyForm.get('user.' + field.key)?.errors?.['required']) { 這是必填項喔！눈_눈 }
          @if (surveyForm.get('user.' + field.key)?.errors?.['email']) { 這不像是有效的 Email 格式喔 ( •̀д•́) }
        </mat-error>
      }

    </mat-form-field>
    }
  </div>

  <!-- 問卷內容 -->
<div class="qesContent" formArrayName="answers">
    @for (q of currentSurvey.questions; track q.id; let i = $index) {
      <div class="question-block">
        <p>
          <strong>{{ i + 1 }}. {{ q.title }}</strong>
          @if (q.required) { <span style="color: red"> * </span> }
        </p>

        @if (q.type === 'radio') {
          <mat-radio-group [formControlName]="i">
            @for (opt of q.options; track opt) {
              <mat-radio-button [value]="opt">{{ opt }}</mat-radio-button>
            }
          </mat-radio-group>
        }

        @if (q.type === 'checkbox') {
          <div [formArrayName]="i">
            @for (opt of q.options; track opt; let k = $index) {
              <mat-checkbox [formControlName]="k">{{ opt }}</mat-checkbox>
            }
          </div>
        }

        @if (q.type === 'text') {
          <mat-form-field class="example-full-width">
            <textarea matInput [formControlName]="i" placeholder="您的回答"></textarea>
          </mat-form-field>
        }

        @if (surveyForm.get('answers.' + i)?.invalid && surveyForm.get('answers.' + i)?.touched) {
        <small style="color: red"> 這是必填項喔！눈_눈</small>
        }

      </div>
      <hr>
    }
  </div>

  <div class="sendBtn">
    <button mat-fab extended class="btnStyle" (click)="onSubmit()">
      <mat-icon>send</mat-icon> 送出
    </button>
  </div>
</div>
