.header {
  background-color: #fafafa;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);

}

// 登入登出按鈕


.btnStyle {
  background-color: #9575cd !important;
  color: white !important;
  padding: 0 24px !important;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: #7e57c2 !important;
  }
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.loginBtn {
  display: flex;
}

.homeStyle{
  background-color: #9575cd !important;
  color: white !important;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: #7e57c2 !important;
  }
}
