<header class="header">
  <!-- home鍵 -->
  <div class="home">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-mini-fab routerLink="/list" routerLinkActive="active" class="homeStyle">
              <mat-icon>home</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!-- 登入登出按鈕 -->
  <div class="loginBtn">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-raised-button (click)="openDialog()" class="btnStyle">
              <mat-icon>login</mat-icon>
              登入
            </button>
          </div>

          <div class="example-button-container">
            <button mat-raised-button class="btnStyle">
              <mat-icon>logout</mat-icon>
              登出
            </button>
          </div>

        </div>
      </div>
    </section>
  </div>
</header>

<router-outlet />
